<!DOCTYPE html>
<html>
    <head>
        <title>Care-Groove</title>
    </head>

    <body>
        <h1>Welecome To Care-Groove {{ served_by_id }}</h1>
	 {% if user.is_authenticated %}
	     <h1>Care-Groove says... hello {{ user.name }}!</h1>
	     <a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'home' %}">Logout</a>
	 {% else %}
	     <h1>Care-Groove says... hello world!</h1>
	     <a href="{% url 'login' %}?next={{request.path}}">Login</a>
	 {% endif %}
	 <a href="{% url 'register' %}">Register Here</a>
    </body>
</html>
