<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Care-Groove</title>
    </head>

    <body>
        <h1>Login with Care-Groove..</h1>

	<form class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login_form" >
	  <!-- Login form starts -->
          {% csrf_token%}
          {% for f in form %}
          <div class="control-group {% if f.errors %}error{% endif %}">
	    <label class="control-label" for="inputUserName">{{ f.label }}</label>
	    <div class="controls">
	      {{ f }}
	      {% for e in f.errors %}
	      <span class="help-inline">{{ e }}</span>
	      {% endfor %}
	    </div>
	  </div>
	  {% endfor %}

          <div class="control-group">
            <div class="controls">
              <br>
	      <button type="submit" class="btn">Login</button>
	      <input type="reset" class="btn" value="Reset"/>
	    </div>
	  </div>

	  <input type="hidden" name="next" value="{{ next }}" />
	  {% if form.non_field_errors %}
	  <div class="center control-group error">
	    {% for e in form.non_field_errors %}
	    <span class="help-inline">{{ e }}</span>
	    {% endfor %}
	  </div>
	  {% endif %}
        </form>

    </body>
</html>
