<!DOCTYPE html>
<html>
    <head>
        <title>Care-Groove</title>
    </head>

    <body>
        <h1>Register with Care-Groove</h1>

        {% if registered %}
              <strong>thank you for registering!</strong>
              <a href="{% url 'home' %}">Return to the homepage.</a><br />
        {% else %}
              <strong>register here!</strong><br />

	<form class="form-horizontal" id="user_form" method="post" action="/user/register/" enctype="multipart/form-data">
	  <!-- Registration form starts -->
          {% csrf_token%}
          {% for f in user_form %}
          <div class="control-group e_{{f.label|lower}}">
	    <label class="control-label" for="inputUserName">{{ f.label }}</label>
	    <div class="controls">
	      {{ f }}
	      <div class="error_{{f.label|lower}}"></div>
	      {% for e in f.errors %}
	      <span class="help-inline">{{ e }}</span>
	      {% endfor %}
	    </div>
	  </div>
	  {% endfor %}
          <div class="control-group">
            <div class="controls">
              <br>
	      <button type="submit" id="reg" class="btn submit" >Register</button>
	      <button type="reset" class="btn" value="Reset" >Reset</button>
	    </div>
	  </div>
        </form>

        {% endif %}
    </body>
</html>
